<nav class="mg-l">
    <div class="novelty_clmn">
        <div class="title2"><a href="https://zf.fm/new" data-pjax="true"><span class="icon-novelty"></span>Новинки</a></div>
        <div class="songs-list">
            <div class="songs-list-item"> <div class="songs-list-item song_8975205">
                    <div class="song-wrap">
                        <div class="song">
                            <div class="song-content">
                                <div class="song-artist">
                                    <a title="Akcent Feat. Anushka Manchanda" href="https://zf.fm/artist/1210088" data-pjax="true">
                                        <span>Akcent Feat. Anushka Manchanda</span>
                                    </a>
                                </div>
                                <div class="song-name"> <a title="I'm Sorry" href="https://zf.fm/song/8975205" data-pjax="true">
                                        <span>I'm Sorry</span>
                                    </a>
                                </div>
                            </div>
                            <ul class="song-menu">
                                <li><span data-sid="8975205" data-url="/download/8975205" class="song-download btn3 download"><span></span></span></li>
                                <li><span data-time="214" data-sid="8975205" data-url="/download/8975205" data-title="Akcent Feat. Anushka Manchanda — I'm Sorry" class="song-plus btn3 plus"><span></span></span></li>
                            </ul>
                            <span data-time="214" data-sid="8975205" data-url="/download/8975205" data-title="Akcent Feat. Anushka Manchanda — I'm Sorry" class="song-play btn3 play"><span></span></span></div>
                    </div></div> <div class="songs-list-item song_8975222">
                    <div class="song-wrap">
                        <div class="song">
                            <div class="song-content">
                                <div class="song-artist">
                                    <a title="Filatov  Karas Vs. Виктор Цой" href="https://zf.fm/artist/1210100" data-pjax="true">
                                        <span>Filatov Karas Vs. Виктор Цой</span>
                                    </a>
                                </div>
                                <div class="song-name"> <a title="Остаться С Тобой (Extended Mix)" href="https://zf.fm/song/8975222" data-pjax="true">
                                        <span>Остаться С Тобой (Extended Mix)</span>
                                    </a>
                                </div>
                            </div>
                            <ul class="song-menu">
                                <li><span data-sid="8975222" data-url="/download/8975222" class="song-download btn3 download"><span></span></span></li>
                                <li><span data-time="236" data-sid="8975222" data-url="/download/8975222" data-title="Filatov  Karas Vs. Виктор Цой — Остаться С Тобой (Extended Mix)" class="song-plus btn3 plus"><span></span></span></li>
                            </ul>
                            <span data-time="236" data-sid="8975222" data-url="/download/8975222" data-title="Filatov  Karas Vs. Виктор Цой — Остаться С Тобой (Extended Mix)" class="song-play btn3 play"><span></span></span></div>
                    </div></div> <div class="songs-list-item song_8975224">
                    <div class="song-wrap">
                        <div class="song">
                            <div class="song-content">
                                <div class="song-artist">
                                    <a title="Dadoni Feat. Ember Island" href="https://zf.fm/artist/1210101" data-pjax="true">
                                        <span>Dadoni Feat. Ember Island</span>
                                    </a>
                                </div>
                                <div class="song-name"> <a title="Gamper" href="https://zf.fm/song/8975224" data-pjax="true">
                                        <span>Gamper</span>
                                    </a>
                                </div>
                            </div>
                            <ul class="song-menu">
                                <li><span data-sid="8975224" data-url="/download/8975224" class="song-download btn3 download"><span></span></span></li>
                                <li><span data-time="176" data-sid="8975224" data-url="/download/8975224" data-title="Dadoni Feat. Ember Island — Gamper" class="song-plus btn3 plus"><span></span></span></li>
                            </ul>
                            <span data-time="176" data-sid="8975224" data-url="/download/8975224" data-title="Dadoni Feat. Ember Island — Gamper" class="song-play btn3 play"><span></span></span></div>
                    </div></div> <div class="songs-list-item song_8975226">
                    <div class="song-wrap">
                        <div class="song">
                            <div class="song-content">
                                <div class="song-artist">
                                    <a title="L.b. One Feat. Laenz" href="https://zf.fm/artist/996490" data-pjax="true">
                                        <span>L.b. One Feat. Laenz</span>
                                    </a>
                                </div>
                                <div class="song-name"> <a title="Tired Bones (Extended Mix)" href="https://zf.fm/song/8975226" data-pjax="true">
                                        <span>Tired Bones (Extended Mix)</span>
                                    </a>
                                </div>
                            </div>
                            <ul class="song-menu">
                                <li><span data-sid="8975226" data-url="/download/8975226" class="song-download btn3 download"><span></span></span></li>
                                <li><span data-time="273" data-sid="8975226" data-url="/download/8975226" data-title="L.b. One Feat. Laenz — Tired Bones (Extended Mix)" class="song-plus btn3 plus"><span></span></span></li>
                            </ul>
                            <span data-time="273" data-sid="8975226" data-url="/download/8975226" data-title="L.b. One Feat. Laenz — Tired Bones (Extended Mix)" class="song-play btn3 play"><span></span></span></div>
                    </div></div> <div class="songs-list-item song_8975232">
                    <div class="song-wrap">
                        <div class="song">
                            <div class="song-content">
                                <div class="song-artist">
                                    <a title="Patsyki Z Franeka Feat. Cтеп" href="https://zf.fm/artist/1210107" data-pjax="true">
                                        <span>Patsyki Z Franeka Feat. Cтеп</span>
                                    </a>
                                </div>
                                <div class="song-name"> <a title="Boom Boom" href="https://zf.fm/song/8975232" data-pjax="true">
                                        <span>Boom Boom</span>
                                    </a>
                                </div>
                            </div>
                            <ul class="song-menu">
                                <li><span data-sid="8975232" data-url="/download/8975232" class="song-download btn3 download"><span></span></span></li>
                                <li><span data-time="227" data-sid="8975232" data-url="/download/8975232" data-title="Patsyki Z Franeka Feat. Cтеп — Boom Boom" class="song-plus btn3 plus"><span></span></span></li>
                            </ul>
                            <span data-time="227" data-sid="8975232" data-url="/download/8975232" data-title="Patsyki Z Franeka Feat. Cтеп — Boom Boom" class="song-play btn3 play"><span></span></span></div>
                    </div></div> <div class="songs-list-item song_8975236">
                    <div class="song-wrap">
                        <div class="song">
                            <div class="song-content">
                                <div class="song-artist">
                                    <a title="Глюкоза Feat. Artik &amp; Asti" href="https://zf.fm/artist/1210110" data-pjax="true">
                                        <span>Глюкоза Feat. Artik &amp; Asti</span>
                                    </a>
                                </div>
                                <div class="song-name"> <a title="Пахну Лишь Тобой" href="https://zf.fm/song/8975236" data-pjax="true">
                                        <span>Пахну Лишь Тобой</span>
                                    </a>
                                </div>
                            </div>
                            <ul class="song-menu">
                                <li><span data-sid="8975236" data-url="/download/8975236" class="song-download btn3 download"><span></span></span></li>
                                <li><span data-time="243" data-sid="8975236" data-url="/download/8975236" data-title="Глюкоза Feat. Artik &amp; Asti — Пахну Лишь Тобой" class="song-plus btn3 plus"><span></span></span></li>
                            </ul>
                            <span data-time="243" data-sid="8975236" data-url="/download/8975236" data-title="Глюкоза Feat. Artik &amp; Asti — Пахну Лишь Тобой" class="song-play btn3 play"><span></span></span></div>
                    </div></div> <div class="songs-list-item song_8975240">
                    <div class="song-wrap">
                        <div class="song">
                            <div class="song-content">
                                <div class="song-artist">
                                    <a title="Марсель Feat. Artik &amp; Asti" href="https://zf.fm/artist/1028833" data-pjax="true">
                                        <span>Марсель Feat. Artik &amp; Asti</span>
                                    </a>
                                </div>
                                <div class="song-name"> <a title="Не Отдам" href="https://zf.fm/song/8975240" data-pjax="true">
                                        <span>Не Отдам</span>
                                    </a>
                                </div>
                            </div>
                            <ul class="song-menu">
                                <li><span data-sid="8975240" data-url="/download/8975240" class="song-download btn3 download"><span></span></span></li>
                                <li><span data-time="239" data-sid="8975240" data-url="/download/8975240" data-title="Марсель Feat. Artik &amp; Asti — Не Отдам" class="song-plus btn3 plus"><span></span></span></li>
                            </ul>
                            <span data-time="239" data-sid="8975240" data-url="/download/8975240" data-title="Марсель Feat. Artik &amp; Asti — Не Отдам" class="song-play btn3 play"><span></span></span></div>
                    </div></div> <div class="songs-list-item song_8975244">
                    <div class="song-wrap">
                        <div class="song">
                            <div class="song-content">
                                <div class="song-artist">
                                    <a title="T1One" href="https://zf.fm/artist/39515" data-pjax="true">
                                        <span>T1One</span>
                                    </a>
                                </div>
                                <div class="song-name"> <a title="Ты Мой Номер Один" href="https://zf.fm/song/8975244" data-pjax="true">
                                        <span>Ты Мой Номер Один</span>
                                    </a>
                                </div>
                            </div>
                            <ul class="song-menu">
                                <li><span data-sid="8975244" data-url="/download/8975244" class="song-download btn3 download"><span></span></span></li>
                                <li><span data-time="188" data-sid="8975244" data-url="/download/8975244" data-title="T1One — Ты Мой Номер Один" class="song-plus btn3 plus"><span></span></span></li>
                            </ul>
                            <span data-time="188" data-sid="8975244" data-url="/download/8975244" data-title="T1One — Ты Мой Номер Один" class="song-play btn3 play"><span></span></span></div>
                    </div></div> <div class="songs-list-item song_8975255">
                    <div class="song-wrap">
                        <div class="song">
                            <div class="song-content">
                                <div class="song-artist">
                                    <a title="Lc (Lera Сhehovskaya)" href="https://zf.fm/artist/1083704" data-pjax="true">
                                        <span>Lc (Lera Сhehovskaya)</span>
                                    </a>
                                </div>
                                <div class="song-name"> <a title="А Я Стану Ветром  (Белый Дмитрий &amp; Эffekt Prod.)" href="https://zf.fm/song/8975255" data-pjax="true">
                                        <span>А Я Стану Ветром (Белый Дмитрий &amp; Эffekt Prod.)</span>
                                    </a>
                                </div>
                            </div>
                            <ul class="song-menu">
                                <li><span data-sid="8975255" data-url="/download/8975255" class="song-download btn3 download"><span></span></span></li>
                                <li><span data-time="229" data-sid="8975255" data-url="/download/8975255" data-title="Lc (Lera Сhehovskaya) — А Я Стану Ветром  (Белый Дмитрий &amp; Эffekt Prod.)" class="song-plus btn3 plus"><span></span></span></li>
                            </ul>
                            <span data-time="229" data-sid="8975255" data-url="/download/8975255" data-title="Lc (Lera Сhehovskaya) — А Я Стану Ветром  (Белый Дмитрий &amp; Эffekt Prod.)" class="song-play btn3 play"><span></span></span></div>
                    </div></div> <div class="songs-list-item song_8975271">
                    <div class="song-wrap">
                        <div class="song">
                            <div class="song-content">
                                <div class="song-artist">
                                    <a title="Murat Uyar Feat. Semiramis Talita" href="https://zf.fm/artist/1210130" data-pjax="true">
                                        <span>Murat Uyar Feat. Semiramis Talita</span>
                                    </a>
                                </div>
                                <div class="song-name"> <a title="World (Radio Version)" href="https://zf.fm/song/8975271" data-pjax="true">
                                        <span>World (Radio Version)</span>
                                    </a>
                                </div>
                            </div>
                            <ul class="song-menu">
                                <li><span data-sid="8975271" data-url="/download/8975271" class="song-download btn3 download"><span></span></span></li>
                                <li><span data-time="249" data-sid="8975271" data-url="/download/8975271" data-title="Murat Uyar Feat. Semiramis Talita — World (Radio Version)" class="song-plus btn3 plus"><span></span></span></li>
                            </ul>
                            <span data-time="249" data-sid="8975271" data-url="/download/8975271" data-title="Murat Uyar Feat. Semiramis Talita — World (Radio Version)" class="song-play btn3 play"><span></span></span></div>
                    </div></div> <div class="songs-list-item song_8976293">
                    <div class="song-wrap">
                        <div class="song">
                            <div class="song-content">
                                <div class="song-artist">
                                    <a title="Emin" href="https://zf.fm/artist/30764" data-pjax="true">
                                        <span>Emin</span>
                                    </a>
                                </div>
                                <div class="song-name"> <a title="Люба-Любовь" href="https://zf.fm/song/8976293" data-pjax="true">
                                        <span>Люба-Любовь</span>
                                    </a>
                                </div>
                            </div>
                            <ul class="song-menu">
                                <li><span data-sid="8976293" data-url="/download/8976293" class="song-download btn3 download"><span></span></span></li>
                                <li><span data-time="221" data-sid="8976293" data-url="/download/8976293" data-title="Emin — Люба-Любовь" class="song-plus btn3 plus"><span></span></span></li>
                            </ul>
                            <span data-time="221" data-sid="8976293" data-url="/download/8976293" data-title="Emin — Люба-Любовь" class="song-play btn3 play"><span></span></span></div>
                    </div></div> <div class="songs-list-item song_8976306">
                    <div class="song-wrap">
                        <div class="song">
                            <div class="song-content">
                                <div class="song-artist">
                                    <a title="Anth Feat. Conor Maynard" href="https://zf.fm/artist/1210386" data-pjax="true">
                                        <span>Anth Feat. Conor Maynard</span>
                                    </a>
                                </div>
                                <div class="song-name"> <a title="How It Go" href="https://zf.fm/song/8976306" data-pjax="true">
                                        <span>How It Go</span>
                                    </a>
                                </div>
                            </div>
                            <ul class="song-menu">
                                <li><span data-sid="8976306" data-url="/download/8976306" class="song-download btn3 download"><span></span></span></li>
                                <li><span data-time="244" data-sid="8976306" data-url="/download/8976306" data-title="Anth Feat. Conor Maynard — How It Go" class="song-plus btn3 plus"><span></span></span></li>
                            </ul>
                            <span data-time="244" data-sid="8976306" data-url="/download/8976306" data-title="Anth Feat. Conor Maynard — How It Go" class="song-play btn3 play"><span></span></span></div>
                    </div></div> <div class="songs-list-item song_8978767">
                    <div class="song-wrap">
                        <div class="song">
                            <div class="song-content">
                                <div class="song-artist">
                                    <a title="Элджей" href="https://zf.fm/artist/395767" data-pjax="true">
                                        <span>Элджей</span>
                                    </a>
                                </div>
                                <div class="song-name"> <a title="Ультрамариновые Танцы" href="https://zf.fm/song/8978767" data-pjax="true">
                                        <span>Ультрамариновые Танцы</span>
                                    </a>
                                </div>
                            </div>
                            <ul class="song-menu">
                                <li><span data-sid="8978767" data-url="/download/8978767" class="song-download btn3 download"><span></span></span></li>
                                <li><span data-time="213" data-sid="8978767" data-url="/download/8978767" data-title="Элджей — Ультрамариновые Танцы" class="song-plus btn3 plus"><span></span></span></li>
                            </ul>
                            <span data-time="213" data-sid="8978767" data-url="/download/8978767" data-title="Элджей — Ультрамариновые Танцы" class="song-play btn3 play"><span></span></span></div>
                    </div></div> <div class="songs-list-item song_8993433">
                    <div class="song-wrap">
                        <div class="song">
                            <div class="song-content">
                                <div class="song-artist">
                                    <a title="Nbsplv" href="https://zf.fm/artist/419766" data-pjax="true">
                                        <span>Nbsplv</span>
                                    </a>
                                </div>
                                <div class="song-name"> <a title="Never Like U" href="https://zf.fm/song/8993433" data-pjax="true">
                                        <span>Never Like U</span>
                                    </a>
                                </div>
                            </div>
                            <ul class="song-menu">
                                <li><span data-sid="8993433" data-url="/download/8993433" class="song-download btn3 download"><span></span></span></li>
                                <li><span data-time="194" data-sid="8993433" data-url="/download/8993433" data-title="Nbsplv — Never Like U" class="song-plus btn3 plus"><span></span></span></li>
                            </ul>
                            <span data-time="194" data-sid="8993433" data-url="/download/8993433" data-title="Nbsplv — Never Like U" class="song-play btn3 play"><span></span></span></div>
                    </div></div> <div class="songs-list-item song_9007908">
                    <div class="song-wrap">
                        <div class="song">
                            <div class="song-content">
                                <div class="song-artist">
                                    <a title="Макс Барских" href="https://zf.fm/artist/30974" data-pjax="true">
                                        <span>Макс Барских</span>
                                    </a>
                                </div>
                                <div class="song-name"> <a title="Моя Любовь (Dj Denis Rublev &amp; Dj Prezzplay Remix)" href="https://zf.fm/song/9007908" data-pjax="true">
                                        <span>Моя Любовь (Dj Denis Rublev &amp; Dj Prezzplay Remix)</span>
                                    </a>
                                </div>
                            </div>
                            <ul class="song-menu">
                                <li><span data-sid="9007908" data-url="/download/9007908" class="song-download btn3 download"><span></span></span></li>
                                <li><span data-time="281" data-sid="9007908" data-url="/download/9007908" data-title="Макс Барских — Моя Любовь (Dj Denis Rublev &amp; Dj Prezzplay Remix)" class="song-plus btn3 plus"><span></span></span></li>
                            </ul>
                            <span data-time="281" data-sid="9007908" data-url="/download/9007908" data-title="Макс Барских — Моя Любовь (Dj Denis Rublev &amp; Dj Prezzplay Remix)" class="song-play btn3 play"><span></span></span></div>
                    </div></div></div>
        </div>
        <div class="slm-wrap">
            <table class="slm-tbl">
                <tbody>
                <tr>
                    <td class="l-lines"></td>
                    <td class="c-link"><a title="Новинки" href="https://zf.fm/new" data-pjax="true" class="slm-link"><span><b>Еще</b></span></a></td>
                    <td class="r-lines"></td>
                </tr>
                </tbody>
            </table>
        </div> </div>
    <div class="novelty_clmn">
        <div class="title2 top50"><span class="icon-novelty"></span>Исполнители</div>
        <div class="edit-letter-spacing">
            <a title="Исполнитель на 0-9" href="https://zf.fm/letters/0-9">0-9</a>
            <a title="Исполнитель на A" href="https://zf.fm/letters/A">A</a>
            <a title="Исполнитель на B" href="https://zf.fm/letters/B">B</a>
            <a title="Исполнитель на C" href="https://zf.fm/letters/C">C</a>
            <a title="Исполнитель на D" href="https://zf.fm/letters/D">D</a>
            <a title="Исполнитель на E" href="https://zf.fm/letters/E">E</a>
            <a title="Исполнитель на F" href="https://zf.fm/letters/F">F</a>
            <a title="Исполнитель на G" href="https://zf.fm/letters/G">G</a>
            <a title="Исполнитель на H" href="https://zf.fm/letters/H">H</a>
            <a title="Исполнитель на I" href="https://zf.fm/letters/I">I</a>
            <a title="Исполнитель на J" href="https://zf.fm/letters/J">J</a>
            <a title="Исполнитель на K" href="https://zf.fm/letters/K">K</a>
            <a title="Исполнитель на L" href="https://zf.fm/letters/L">L</a>
            <a title="Исполнитель на M" href="https://zf.fm/letters/M">M</a>
            <a title="Исполнитель на N" href="https://zf.fm/letters/N">N</a>
            <a title="Исполнитель на O" href="https://zf.fm/letters/O">O</a>
            <a title="Исполнитель на P" href="https://zf.fm/letters/P">P</a>
            <a title="Исполнитель на Q" href="https://zf.fm/letters/Q">Q</a>
            <a title="Исполнитель на R" href="https://zf.fm/letters/R">R</a>
            <a title="Исполнитель на S" href="https://zf.fm/letters/S">S</a>
            <a title="Исполнитель на T" href="https://zf.fm/letters/T">T</a>
            <a title="Исполнитель на U" href="https://zf.fm/letters/U">U</a>
            <a title="Исполнитель на V" href="https://zf.fm/letters/V">V</a>
            <a title="Исполнитель на W" href="https://zf.fm/letters/W">W</a>
            <a title="Исполнитель на X" href="https://zf.fm/letters/X">X</a>
            <a title="Исполнитель на Y" href="https://zf.fm/letters/Y">Y</a>
            <a title="Исполнитель на Z" href="https://zf.fm/letters/Z">Z</a>
            <br>
            <br>
            <a title="Исполнитель на А" href="https://zf.fm/letters/%D0%90">А</a>
            <a title="Исполнитель на Б" href="https://zf.fm/letters/%D0%91">Б</a>
            <a title="Исполнитель на В" href="https://zf.fm/letters/%D0%92">В</a>
            <a title="Исполнитель на Г" href="https://zf.fm/letters/%D0%93">Г</a>
            <a title="Исполнитель на Д" href="https://zf.fm/letters/%D0%94">Д</a>
            <a title="Исполнитель на Е" href="https://zf.fm/letters/%D0%95">Е</a>
            <a title="Исполнитель на Ж" href="https://zf.fm/letters/%D0%96">Ж</a>
            <a title="Исполнитель на З" href="https://zf.fm/letters/%D0%97">З</a>
            <a title="Исполнитель на И" href="https://zf.fm/letters/%D0%98">И</a>
            <a title="Исполнитель на Й" href="https://zf.fm/letters/%D0%99">Й</a>
            <a title="Исполнитель на К" href="https://zf.fm/letters/%D0%9A">К</a>
            <a title="Исполнитель на Л" href="https://zf.fm/letters/%D0%9B">Л</a>
            <a title="Исполнитель на М" href="https://zf.fm/letters/%D0%9C">М</a>
            <a title="Исполнитель на Н" href="https://zf.fm/letters/%D0%9D">Н</a>
            <a title="Исполнитель на О" href="https://zf.fm/letters/%D0%9E">О</a>
            <a title="Исполнитель на П" href="https://zf.fm/letters/%D0%9F">П</a>
            <a title="Исполнитель на Р" href="https://zf.fm/letters/%D0%A0">Р</a>
            <a title="Исполнитель на С" href="https://zf.fm/letters/%D0%A1">С</a>
            <a title="Исполнитель на Т" href="https://zf.fm/letters/%D0%A2">Т</a>
            <a title="Исполнитель на У" href="https://zf.fm/letters/%D0%A3">У</a>
            <a title="Исполнитель на Ф" href="https://zf.fm/letters/%D0%A4">Ф</a>
            <a title="Исполнитель на Х" href="https://zf.fm/letters/%D0%A5">Х</a>
            <a title="Исполнитель на Ц" href="https://zf.fm/letters/%D0%A6">Ц</a>
            <a title="Исполнитель на Ч" href="https://zf.fm/letters/%D0%A7">Ч</a>
            <a title="Исполнитель на Ш" href="https://zf.fm/letters/%D0%A8">Ш</a>
            <a title="Исполнитель на Щ" href="https://zf.fm/letters/%D0%A9">Щ</a>
            <a title="Исполнитель на Ы" href="https://zf.fm/letters/%D0%AB">Ы</a>
            <a title="Исполнитель на Э" href="https://zf.fm/letters/%D0%AD">Э</a>
            <a title="Исполнитель на Ю" href="https://zf.fm/letters/%D0%AE">Ю</a>
            <a title="Исполнитель на Я" href="https://zf.fm/letters/%D0%AF">Я</a>
        </div>
    </div>
</nav>