{% extends "@App/base.html.twig" %}

{% block title %}AppBundle:Main:index{% endblock %}

{% block body %}
    <section id="container">
        <div class="whb_wrap">
            <div class="whb_crn_lt">
                <div class="whb_crn_rt">
                    <div class="whb_gr_t"></div>
                </div>
            </div>
            <div class="whb_gr_l">
                <div class="whb_gr_r">
                    <div class="whb_box">
                        <div class="title_box ico-new-songs">
                            <h1> Новинки </h1>
                        </div>
                        <div class="grey_box">
                            <div class="search_sort_par clearfix">
                                <div class="btns_group">
                                    <div class="btn_wrap " style="width: 50%">
                                        <a href="https://zf.fm/new?sort=date" data-pjax="true" class="btn-grey active">Дата</a>
                                    </div>
                                    <div class="btn_wrap " style="width: 50%">
                                        <a href="https://zf.fm/new?sort=date_views" data-pjax="true" class="btn-grey ">Рейтинг за неделю</a>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="songs-list">
                            <div class="songs-list-item"> <div class="songs-list-item">
                                    <div class="song-wrap song-wrap-xl">
                                        <div class="song song-xl" data-prev="" data-next="9021158" data-play="9021159">
                                            <div class="song-info"><span class="song-time"> 1 авг</span>
                                            </div>
                                            <div class="song-content">
                                                <div class="song-artist"><a data-pjax="true" class="mb-tooltip" data-tool="tooltip-bottom" data-original-title="" href="https://zf.fm/artist/477411"><span>Maxim &amp; Skin</span></a></div>
                                                <div class="song-name"><a data-pjax="true" class="mb-tooltip" data-tool="tooltip-bottom" data-original-title="Carmen Queasy (Engage &amp; Receptor Remix)(Sttvtts Edit2)" href="https://zf.fm/song/9021159"><span>Carmen Queasy (Engage &amp; Receptor Remix)(Sttvtts Edit2)</span></a></div>
                                            </div>
                                            <ul class="song-menu">
                                                <li><span data-sid="9021159" data-url="/download/9021159" class="song-download btn4 download" data-tool="tooltip" data-original-title="Скачать"><span></span></span></li>
                                                <li><span data-time="226" data-sid="9021159" data-url="/download/9021159" data-title="Maxim &amp; Skin — Carmen Queasy (Engage &amp; Receptor Remix)(Sttvtts Edit2)" class="song-plus btn4 plus" data-tool="tooltip" data-original-title="Добавить в плейлист"><span></span></span></li>
                                            </ul>
                                            <span data-time="226" data-sid="9021159" data-url="/download/9021159" data-title="Maxim &amp; Skin — Carmen Queasy (Engage &amp; Receptor Remix)(Sttvtts Edit2)" class="song-play btn4 play"><span></span></span></div>
                                    </div></div> <div class="songs-list-item">
                                    <div class="song-wrap song-wrap-xl">
                                        <div class="song song-xl" data-prev="9021159" data-next="9021157" data-play="9021158">
                                            <div class="song-info"><span class="song-time"> 1 авг</span>
                                            </div>
                                            <div class="song-content">
                                                <div class="song-artist"><a data-pjax="true" class="mb-tooltip" data-tool="tooltip-bottom" data-original-title="" href="https://zf.fm/artist/118439"><span>Мэйти</span></a></div>
                                                <div class="song-name"><a data-pjax="true" class="mb-tooltip" data-tool="tooltip-bottom" data-original-title="" href="https://zf.fm/song/9021158"><span>Коллекционер</span></a></div>
                                            </div>
                                            <ul class="song-menu">
                                                <li><span data-sid="9021158" data-url="/download/9021158" class="song-download btn4 download" data-tool="tooltip" data-original-title="Скачать"><span></span></span></li>
                                                <li><span data-time="132" data-sid="9021158" data-url="/download/9021158" data-title="Мэйти — Коллекционер" class="song-plus btn4 plus" data-tool="tooltip" data-original-title="Добавить в плейлист"><span></span></span></li>
                                            </ul>
                                            <span data-time="132" data-sid="9021158" data-url="/download/9021158" data-title="Мэйти — Коллекционер" class="song-play btn4 play"><span></span></span></div>
                                    </div></div> <div class="songs-list-item">
                                    <div class="song-wrap song-wrap-xl">
                                        <div class="song song-xl" data-prev="9021158" data-next="9021156" data-play="9021157">
                                            <div class="song-info"><span class="song-time"> 1 авг</span>
                                            </div>
                                            <div class="song-content">
                                                <div class="song-artist"><a data-pjax="true" class="mb-tooltip" data-tool="tooltip-bottom" data-original-title="" href="https://zf.fm/artist/73549"><span>Сергей Славянский</span></a></div>
                                                <div class="song-name"><a data-pjax="true" class="mb-tooltip" data-tool="tooltip-bottom" data-original-title="" href="https://zf.fm/song/9021157"><span>Алёнушки (New Version)</span></a></div>
                                            </div>
                                            <ul class="song-menu">
                                                <li><span data-sid="9021157" data-url="/download/9021157" class="song-download btn4 download" data-tool="tooltip" data-original-title="Скачать"><span></span></span></li>
                                                <li><span data-time="205" data-sid="9021157" data-url="/download/9021157" data-title="Сергей Славянский — Алёнушки (New Version)" class="song-plus btn4 plus" data-tool="tooltip" data-original-title="Добавить в плейлист"><span></span></span></li>
                                            </ul>
                                            <span data-time="205" data-sid="9021157" data-url="/download/9021157" data-title="Сергей Славянский — Алёнушки (New Version)" class="song-play btn4 play"><span></span></span></div>
                                    </div></div> <div class="songs-list-item">
                                    <div class="song-wrap song-wrap-xl">
                                        <div class="song song-xl" data-prev="9021157" data-next="9021155" data-play="9021156">
                                            <div class="song-info"><span class="song-time"> 1 авг</span>
                                            </div>
                                            <div class="song-content">
                                                <div class="song-artist"><a data-pjax="true" class="mb-tooltip" data-tool="tooltip-bottom" data-original-title="" href="https://zf.fm/artist/44354"><span>Celldweller</span></a></div>
                                                <div class="song-name"><a data-pjax="true" class="mb-tooltip" data-tool="tooltip-bottom" data-original-title="" href="https://zf.fm/song/9021156"><span>How Little I Must Know</span></a></div>
                                            </div>
                                            <ul class="song-menu">
                                                <li><span data-sid="9021156" data-url="/download/9021156" class="song-download btn4 download" data-tool="tooltip" data-original-title="Скачать"><span></span></span></li>
                                                <li><span data-time="144" data-sid="9021156" data-url="/download/9021156" data-title="Celldweller — How Little I Must Know" class="song-plus btn4 plus" data-tool="tooltip" data-original-title="Добавить в плейлист"><span></span></span></li>
                                            </ul>
                                            <span data-time="144" data-sid="9021156" data-url="/download/9021156" data-title="Celldweller — How Little I Must Know" class="song-play btn4 play"><span></span></span></div>
                                    </div></div> <div class="songs-list-item">
                                    <div class="song-wrap song-wrap-xl">
                                        <div class="song song-xl" data-prev="9021156" data-next="9021154" data-play="9021155">
                                            <div class="song-info"><span class="song-time"> 1 авг</span>
                                            </div>
                                            <div class="song-content">
                                                <div class="song-artist"><a data-pjax="true" class="mb-tooltip" data-tool="tooltip-bottom" data-original-title="" href="https://zf.fm/artist/114812"><span>W.e.s.t.</span></a></div>
                                                <div class="song-name"><a data-pjax="true" class="mb-tooltip" data-tool="tooltip-bottom" data-original-title="" href="https://zf.fm/song/9021155"><span>Правила</span></a></div>
                                            </div>
                                            <ul class="song-menu">
                                                <li><span data-sid="9021155" data-url="/download/9021155" class="song-download btn4 download" data-tool="tooltip" data-original-title="Скачать"><span></span></span></li>
                                                <li><span data-time="276" data-sid="9021155" data-url="/download/9021155" data-title="W.e.s.t. — Правила" class="song-plus btn4 plus" data-tool="tooltip" data-original-title="Добавить в плейлист"><span></span></span></li>
                                            </ul>
                                            <span data-time="276" data-sid="9021155" data-url="/download/9021155" data-title="W.e.s.t. — Правила" class="song-play btn4 play"><span></span></span></div>
                                    </div></div> <div class="songs-list-item">
                                    <div class="song-wrap song-wrap-xl">
                                        <div class="song song-xl" data-prev="9021155" data-next="9021153" data-play="9021154">
                                            <div class="song-info"><span class="song-time"> 1 авг</span>
                                            </div>
                                            <div class="song-content">
                                                <div class="song-artist"><a data-pjax="true" class="mb-tooltip" data-tool="tooltip-bottom" data-original-title="" href="https://zf.fm/artist/1215493"><span>Koven &amp; Crystal Skies</span></a></div>
                                                <div class="song-name"><a data-pjax="true" class="mb-tooltip" data-tool="tooltip-bottom" data-original-title="" href="https://zf.fm/song/9021154"><span>You Me And Gravity</span></a></div>
                                            </div>
                                            <ul class="song-menu">
                                                <li><span data-sid="9021154" data-url="/download/9021154" class="song-download btn4 download" data-tool="tooltip" data-original-title="Скачать"><span></span></span></li>
                                                <li><span data-time="234" data-sid="9021154" data-url="/download/9021154" data-title="Koven &amp; Crystal Skies — You Me And Gravity" class="song-plus btn4 plus" data-tool="tooltip" data-original-title="Добавить в плейлист"><span></span></span></li>
                                            </ul>
                                            <span data-time="234" data-sid="9021154" data-url="/download/9021154" data-title="Koven &amp; Crystal Skies — You Me And Gravity" class="song-play btn4 play"><span></span></span></div>
                                    </div></div> <div class="songs-list-item">
                                    <div class="song-wrap song-wrap-xl">
                                        <div class="song song-xl" data-prev="9021154" data-next="9021152" data-play="9021153">
                                            <div class="song-info"><span class="song-time"> 1 авг</span>
                                            </div>
                                            <div class="song-content">
                                                <div class="song-artist"><a data-pjax="true" class="mb-tooltip" data-tool="tooltip-bottom" data-original-title="" href="https://zf.fm/artist/1215491"><span>Celldweller &amp; Circle Of Dust</span></a></div>
                                                <div class="song-name"><a data-pjax="true" class="mb-tooltip" data-tool="tooltip-bottom" data-original-title="" href="https://zf.fm/song/9021153"><span>Into The Fall</span></a></div>
                                            </div>
                                            <ul class="song-menu">
                                                <li><span data-sid="9021153" data-url="/download/9021153" class="song-download btn4 download" data-tool="tooltip" data-original-title="Скачать"><span></span></span></li>
                                                <li><span data-time="271" data-sid="9021153" data-url="/download/9021153" data-title="Celldweller &amp; Circle Of Dust — Into The Fall" class="song-plus btn4 plus" data-tool="tooltip" data-original-title="Добавить в плейлист"><span></span></span></li>
                                            </ul>
                                            <span data-time="271" data-sid="9021153" data-url="/download/9021153" data-title="Celldweller &amp; Circle Of Dust — Into The Fall" class="song-play btn4 play"><span></span></span></div>
                                    </div></div> <div class="songs-list-item">
                                    <div class="song-wrap song-wrap-xl">
                                        <div class="song song-xl" data-prev="9021153" data-next="9021151" data-play="9021152">
                                            <div class="song-info"><span class="song-time"> 1 авг</span>
                                            </div>
                                            <div class="song-content">
                                                <div class="song-artist"><a data-pjax="true" class="mb-tooltip" data-tool="tooltip-bottom" data-original-title="" href="https://zf.fm/artist/118439"><span>Мэйти</span></a></div>
                                                <div class="song-name"><a data-pjax="true" class="mb-tooltip" data-tool="tooltip-bottom" data-original-title="" href="https://zf.fm/song/9021152"><span>Палата №22</span></a></div>
                                            </div>
                                            <ul class="song-menu">
                                                <li><span data-sid="9021152" data-url="/download/9021152" class="song-download btn4 download" data-tool="tooltip" data-original-title="Скачать"><span></span></span></li>
                                                <li><span data-time="161" data-sid="9021152" data-url="/download/9021152" data-title="Мэйти — Палата №22" class="song-plus btn4 plus" data-tool="tooltip" data-original-title="Добавить в плейлист"><span></span></span></li>
                                            </ul>
                                            <span data-time="161" data-sid="9021152" data-url="/download/9021152" data-title="Мэйти — Палата №22" class="song-play btn4 play"><span></span></span></div>
                                    </div></div> <div class="songs-list-item">
                                    <div class="song-wrap song-wrap-xl">
                                        <div class="song song-xl" data-prev="9021152" data-next="9021150" data-play="9021151">
                                            <div class="song-info"><span class="song-time"> 1 авг</span>
                                            </div>
                                            <div class="song-content">
                                                <div class="song-artist"><a data-pjax="true" class="mb-tooltip" data-tool="tooltip-bottom" data-original-title="" href="https://zf.fm/artist/114812"><span>W.e.s.t.</span></a></div>
                                                <div class="song-name"><a data-pjax="true" class="mb-tooltip" data-tool="tooltip-bottom" data-original-title="" href="https://zf.fm/song/9021151"><span>Не Верь</span></a></div>
                                            </div>
                                            <ul class="song-menu">
                                                <li><span data-sid="9021151" data-url="/download/9021151" class="song-download btn4 download" data-tool="tooltip" data-original-title="Скачать"><span></span></span></li>
                                                <li><span data-time="182" data-sid="9021151" data-url="/download/9021151" data-title="W.e.s.t. — Не Верь" class="song-plus btn4 plus" data-tool="tooltip" data-original-title="Добавить в плейлист"><span></span></span></li>
                                            </ul>
                                            <span data-time="182" data-sid="9021151" data-url="/download/9021151" data-title="W.e.s.t. — Не Верь" class="song-play btn4 play"><span></span></span></div>
                                    </div></div> <div class="songs-list-item">
                                    <div class="song-wrap song-wrap-xl">
                                        <div class="song song-xl" data-prev="9021151" data-next="9021149" data-play="9021150">
                                            <div class="song-info"><span class="song-time"> 1 авг</span>
                                            </div>
                                            <div class="song-content">
                                                <div class="song-artist"><a data-pjax="true" class="mb-tooltip" data-tool="tooltip-bottom" data-original-title="" href="https://zf.fm/artist/1215485"><span>Еvгеника</span></a></div>
                                                <div class="song-name"><a data-pjax="true" class="mb-tooltip" data-tool="tooltip-bottom" data-original-title="" href="https://zf.fm/song/9021150"><span>Пусть Они Сыграют</span></a></div>
                                            </div>
                                            <ul class="song-menu">
                                                <li><span data-sid="9021150" data-url="/download/9021150" class="song-download btn4 download" data-tool="tooltip" data-original-title="Скачать"><span></span></span></li>
                                                <li><span data-time="191" data-sid="9021150" data-url="/download/9021150" data-title="Еvгеника — Пусть Они Сыграют" class="song-plus btn4 plus" data-tool="tooltip" data-original-title="Добавить в плейлист"><span></span></span></li>
                                            </ul>
                                            <span data-time="191" data-sid="9021150" data-url="/download/9021150" data-title="Еvгеника — Пусть Они Сыграют" class="song-play btn4 play"><span></span></span></div>
                                    </div></div> <div class="songs-list-item">
                                    <div class="song-wrap song-wrap-xl">
                                        <div class="song song-xl" data-prev="9021150" data-next="9021148" data-play="9021149">
                                            <div class="song-info"><span class="song-time"> 1 авг</span>
                                            </div>
                                            <div class="song-content">
                                                <div class="song-artist"><a data-pjax="true" class="mb-tooltip" data-tool="tooltip-bottom" data-original-title="" href="https://zf.fm/artist/1215489"><span>James Mercy &amp; Mia Vaile</span></a></div>
                                                <div class="song-name"><a data-pjax="true" class="mb-tooltip" data-tool="tooltip-bottom" data-original-title="" href="https://zf.fm/song/9021149"><span>Wildfire</span></a></div>
                                            </div>
                                            <ul class="song-menu">
                                                <li><span data-sid="9021149" data-url="/download/9021149" class="song-download btn4 download" data-tool="tooltip" data-original-title="Скачать"><span></span></span></li>
                                                <li><span data-time="228" data-sid="9021149" data-url="/download/9021149" data-title="James Mercy &amp; Mia Vaile — Wildfire" class="song-plus btn4 plus" data-tool="tooltip" data-original-title="Добавить в плейлист"><span></span></span></li>
                                            </ul>
                                            <span data-time="228" data-sid="9021149" data-url="/download/9021149" data-title="James Mercy &amp; Mia Vaile — Wildfire" class="song-play btn4 play"><span></span></span></div>
                                    </div></div> <div class="songs-list-item">
                                    <div class="song-wrap song-wrap-xl">
                                        <div class="song song-xl" data-prev="9021149" data-next="9021147" data-play="9021148">
                                            <div class="song-info"><span class="song-time"> 1 авг</span>
                                            </div>
                                            <div class="song-content">
                                                <div class="song-artist"><a data-pjax="true" class="mb-tooltip" data-tool="tooltip-bottom" data-original-title="" href="https://zf.fm/artist/1215485"><span>Еvгеника</span></a></div>
                                                <div class="song-name"><a data-pjax="true" class="mb-tooltip" data-tool="tooltip-bottom" data-original-title="" href="https://zf.fm/song/9021148"><span>Ты</span></a></div>
                                            </div>
                                            <ul class="song-menu">
                                                <li><span data-sid="9021148" data-url="/download/9021148" class="song-download btn4 download" data-tool="tooltip" data-original-title="Скачать"><span></span></span></li>
                                                <li><span data-time="218" data-sid="9021148" data-url="/download/9021148" data-title="Еvгеника — Ты" class="song-plus btn4 plus" data-tool="tooltip" data-original-title="Добавить в плейлист"><span></span></span></li>
                                            </ul>
                                            <span data-time="218" data-sid="9021148" data-url="/download/9021148" data-title="Еvгеника — Ты" class="song-play btn4 play"><span></span></span></div>
                                    </div></div> <div class="songs-list-item">
                                    <div class="song-wrap song-wrap-xl">
                                        <div class="song song-xl" data-prev="9021148" data-next="9021146" data-play="9021147">
                                            <div class="song-info"><span class="song-time"> 1 авг</span>
                                            </div>
                                            <div class="song-content">
                                                <div class="song-artist"><a data-pjax="true" class="mb-tooltip" data-tool="tooltip-bottom" data-original-title="" href="https://zf.fm/artist/477411"><span>Maxim &amp; Skin</span></a></div>
                                                <div class="song-name"><a data-pjax="true" class="mb-tooltip" data-tool="tooltip-bottom" data-original-title="Carmen Queasy (Engage &amp; Receptor Remix) (Sttvtts Edit)" href="https://zf.fm/song/9021147"><span>Carmen Queasy (Engage &amp; Receptor Remix) (Sttvtts Edit)</span></a></div>
                                            </div>
                                            <ul class="song-menu">
                                                <li><span data-sid="9021147" data-url="/download/9021147" class="song-download btn4 download" data-tool="tooltip" data-original-title="Скачать"><span></span></span></li>
                                                <li><span data-time="226" data-sid="9021147" data-url="/download/9021147" data-title="Maxim &amp; Skin — Carmen Queasy (Engage &amp; Receptor Remix) (Sttvtts Edit)" class="song-plus btn4 plus" data-tool="tooltip" data-original-title="Добавить в плейлист"><span></span></span></li>
                                            </ul>
                                            <span data-time="226" data-sid="9021147" data-url="/download/9021147" data-title="Maxim &amp; Skin — Carmen Queasy (Engage &amp; Receptor Remix) (Sttvtts Edit)" class="song-play btn4 play"><span></span></span></div>
                                    </div></div> <div class="songs-list-item">
                                    <div class="song-wrap song-wrap-xl">
                                        <div class="song song-xl" data-prev="9021147" data-next="9021145" data-play="9021146">
                                            <div class="song-info"><span class="song-time"> 1 авг</span>
                                            </div>
                                            <div class="song-content">
                                                <div class="song-artist"><a data-pjax="true" class="mb-tooltip" data-tool="tooltip-bottom" data-original-title="" href="https://zf.fm/artist/1215488"><span>Дмитрий Прянов И Сергей Войтенко</span></a></div>
                                                <div class="song-name"><a data-pjax="true" class="mb-tooltip" data-tool="tooltip-bottom" data-original-title="" href="https://zf.fm/song/9021146"><span>Пятая Невеста</span></a></div>
                                            </div>
                                            <ul class="song-menu">
                                                <li><span data-sid="9021146" data-url="/download/9021146" class="song-download btn4 download" data-tool="tooltip" data-original-title="Скачать"><span></span></span></li>
                                                <li><span data-time="231" data-sid="9021146" data-url="/download/9021146" data-title="Дмитрий Прянов И Сергей Войтенко — Пятая Невеста" class="song-plus btn4 plus" data-tool="tooltip" data-original-title="Добавить в плейлист"><span></span></span></li>
                                            </ul>
                                            <span data-time="231" data-sid="9021146" data-url="/download/9021146" data-title="Дмитрий Прянов И Сергей Войтенко — Пятая Невеста" class="song-play btn4 play"><span></span></span></div>
                                    </div></div> <div class="songs-list-item">
                                    <div class="song-wrap song-wrap-xl">
                                        <div class="song song-xl" data-prev="9021146" data-next="9021144" data-play="9021145">
                                            <div class="song-info"><span class="song-time"> 1 авг</span>
                                            </div>
                                            <div class="song-content">
                                                <div class="song-artist"><a data-pjax="true" class="mb-tooltip" data-tool="tooltip-bottom" data-original-title="" href="https://zf.fm/artist/44354"><span>Celldweller</span></a></div>
                                                <div class="song-name"><a data-pjax="true" class="mb-tooltip" data-tool="tooltip-bottom" data-original-title="" href="https://zf.fm/song/9021145"><span>The Great Divide</span></a></div>
                                            </div>
                                            <ul class="song-menu">
                                                <li><span data-sid="9021145" data-url="/download/9021145" class="song-download btn4 download" data-tool="tooltip" data-original-title="Скачать"><span></span></span></li>
                                                <li><span data-time="317" data-sid="9021145" data-url="/download/9021145" data-title="Celldweller — The Great Divide" class="song-plus btn4 plus" data-tool="tooltip" data-original-title="Добавить в плейлист"><span></span></span></li>
                                            </ul>
                                            <span data-time="317" data-sid="9021145" data-url="/download/9021145" data-title="Celldweller — The Great Divide" class="song-play btn4 play"><span></span></span></div>
                                    </div></div> <div class="songs-list-item">
                                    <div class="song-wrap song-wrap-xl">
                                        <div class="song song-xl" data-prev="9021145" data-next="9021143" data-play="9021144">
                                            <div class="song-info"><span class="song-time"> 1 авг</span>
                                            </div>
                                            <div class="song-content">
                                                <div class="song-artist"><a data-pjax="true" class="mb-tooltip" data-tool="tooltip-bottom" data-original-title="" href="https://zf.fm/artist/44354"><span>Celldweller</span></a></div>
                                                <div class="song-name"><a data-pjax="true" class="mb-tooltip" data-tool="tooltip-bottom" data-original-title="" href="https://zf.fm/song/9021144"><span>Awakening With You (Ulrich Schnauss Remix)</span></a></div>
                                            </div>
                                            <ul class="song-menu">
                                                <li><span data-sid="9021144" data-url="/download/9021144" class="song-download btn4 download" data-tool="tooltip" data-original-title="Скачать"><span></span></span></li>
                                                <li><span data-time="316" data-sid="9021144" data-url="/download/9021144" data-title="Celldweller — Awakening With You (Ulrich Schnauss Remix)" class="song-plus btn4 plus" data-tool="tooltip" data-original-title="Добавить в плейлист"><span></span></span></li>
                                            </ul>
                                            <span data-time="316" data-sid="9021144" data-url="/download/9021144" data-title="Celldweller — Awakening With You (Ulrich Schnauss Remix)" class="song-play btn4 play"><span></span></span></div>
                                    </div></div> <div class="songs-list-item">
                                    <div class="song-wrap song-wrap-xl">
                                        <div class="song song-xl" data-prev="9021144" data-next="9021142" data-play="9021143">
                                            <div class="song-info"><span class="song-time"> 1 авг</span>
                                            </div>
                                            <div class="song-content">
                                                <div class="song-artist"><a data-pjax="true" class="mb-tooltip" data-tool="tooltip-bottom" data-original-title="" href="https://zf.fm/artist/114812"><span>W.e.s.t.</span></a></div>
                                                <div class="song-name"><a data-pjax="true" class="mb-tooltip" data-tool="tooltip-bottom" data-original-title="" href="https://zf.fm/song/9021143"><span>Задыхаясь Во Лжи</span></a></div>
                                            </div>
                                            <ul class="song-menu">
                                                <li><span data-sid="9021143" data-url="/download/9021143" class="song-download btn4 download" data-tool="tooltip" data-original-title="Скачать"><span></span></span></li>
                                                <li><span data-time="193" data-sid="9021143" data-url="/download/9021143" data-title="W.e.s.t. — Задыхаясь Во Лжи" class="song-plus btn4 plus" data-tool="tooltip" data-original-title="Добавить в плейлист"><span></span></span></li>
                                            </ul>
                                            <span data-time="193" data-sid="9021143" data-url="/download/9021143" data-title="W.e.s.t. — Задыхаясь Во Лжи" class="song-play btn4 play"><span></span></span></div>
                                    </div></div> <div class="songs-list-item">
                                    <div class="song-wrap song-wrap-xl">
                                        <div class="song song-xl" data-prev="9021143" data-next="9021141" data-play="9021142">
                                            <div class="song-info"><span class="song-time"> 1 авг</span>
                                            </div>
                                            <div class="song-content">
                                                <div class="song-artist"><a data-pjax="true" class="mb-tooltip" data-tool="tooltip-bottom" data-original-title="" href="https://zf.fm/artist/73549"><span>Сергей Славянский</span></a></div>
                                                <div class="song-name"><a data-pjax="true" class="mb-tooltip" data-tool="tooltip-bottom" data-original-title="" href="https://zf.fm/song/9021142"><span>Жена (New Version)</span></a></div>
                                            </div>
                                            <ul class="song-menu">
                                                <li><span data-sid="9021142" data-url="/download/9021142" class="song-download btn4 download" data-tool="tooltip" data-original-title="Скачать"><span></span></span></li>
                                                <li><span data-time="182" data-sid="9021142" data-url="/download/9021142" data-title="Сергей Славянский — Жена (New Version)" class="song-plus btn4 plus" data-tool="tooltip" data-original-title="Добавить в плейлист"><span></span></span></li>
                                            </ul>
                                            <span data-time="182" data-sid="9021142" data-url="/download/9021142" data-title="Сергей Славянский — Жена (New Version)" class="song-play btn4 play"><span></span></span></div>
                                    </div></div> <div class="songs-list-item">
                                    <div class="song-wrap song-wrap-xl">
                                        <div class="song song-xl" data-prev="9021142" data-next="9021140" data-play="9021141">
                                            <div class="song-info"><span class="song-time"> 1 авг</span>
                                            </div>
                                            <div class="song-content">
                                                <div class="song-artist"><a data-pjax="true" class="mb-tooltip" data-tool="tooltip-bottom" data-original-title="" href="https://zf.fm/artist/118439"><span>Мэйти</span></a></div>
                                                <div class="song-name"><a data-pjax="true" class="mb-tooltip" data-tool="tooltip-bottom" data-original-title="" href="https://zf.fm/song/9021141"><span>По Следам Бунина</span></a></div>
                                            </div>
                                            <ul class="song-menu">
                                                <li><span data-sid="9021141" data-url="/download/9021141" class="song-download btn4 download" data-tool="tooltip" data-original-title="Скачать"><span></span></span></li>
                                                <li><span data-time="171" data-sid="9021141" data-url="/download/9021141" data-title="Мэйти — По Следам Бунина" class="song-plus btn4 plus" data-tool="tooltip" data-original-title="Добавить в плейлист"><span></span></span></li>
                                            </ul>
                                            <span data-time="171" data-sid="9021141" data-url="/download/9021141" data-title="Мэйти — По Следам Бунина" class="song-play btn4 play"><span></span></span></div>
                                    </div></div> <div class="songs-list-item">
                                    <div class="song-wrap song-wrap-xl">
                                        <div class="song song-xl" data-prev="9021141" data-next="9021139" data-play="9021140">
                                            <div class="song-info"><span class="song-time"> 1 авг</span>
                                            </div>
                                            <div class="song-content">
                                                <div class="song-artist"><a data-pjax="true" class="mb-tooltip" data-tool="tooltip-bottom" data-original-title="" href="https://zf.fm/artist/114812"><span>W.e.s.t.</span></a></div>
                                                <div class="song-name"><a data-pjax="true" class="mb-tooltip" data-tool="tooltip-bottom" data-original-title="" href="https://zf.fm/song/9021140"><span>Поиграй</span></a></div>
                                            </div>
                                            <ul class="song-menu">
                                                <li><span data-sid="9021140" data-url="/download/9021140" class="song-download btn4 download" data-tool="tooltip" data-original-title="Скачать"><span></span></span></li>
                                                <li><span data-time="199" data-sid="9021140" data-url="/download/9021140" data-title="W.e.s.t. — Поиграй" class="song-plus btn4 plus" data-tool="tooltip" data-original-title="Добавить в плейлист"><span></span></span></li>
                                            </ul>
                                            <span data-time="199" data-sid="9021140" data-url="/download/9021140" data-title="W.e.s.t. — Поиграй" class="song-play btn4 play"><span></span></span></div>
                                    </div></div> <div class="songs-list-item">
                                    <div class="song-wrap song-wrap-xl">
                                        <div class="song song-xl" data-prev="9021140" data-next="9021138" data-play="9021139">
                                            <div class="song-info"><span class="song-time"> 1 авг</span>
                                            </div>
                                            <div class="song-content">
                                                <div class="song-artist"><a data-pjax="true" class="mb-tooltip" data-tool="tooltip-bottom" data-original-title="" href="https://zf.fm/artist/1215485"><span>Еvгеника</span></a></div>
                                                <div class="song-name"><a data-pjax="true" class="mb-tooltip" data-tool="tooltip-bottom" data-original-title="" href="https://zf.fm/song/9021139"><span>Остров</span></a></div>
                                            </div>
                                            <ul class="song-menu">
                                                <li><span data-sid="9021139" data-url="/download/9021139" class="song-download btn4 download" data-tool="tooltip" data-original-title="Скачать"><span></span></span></li>
                                                <li><span data-time="212" data-sid="9021139" data-url="/download/9021139" data-title="Еvгеника — Остров" class="song-plus btn4 plus" data-tool="tooltip" data-original-title="Добавить в плейлист"><span></span></span></li>
                                            </ul>
                                            <span data-time="212" data-sid="9021139" data-url="/download/9021139" data-title="Еvгеника — Остров" class="song-play btn4 play"><span></span></span></div>
                                    </div></div> <div class="songs-list-item">
                                    <div class="song-wrap song-wrap-xl">
                                        <div class="song song-xl" data-prev="9021139" data-next="9021137" data-play="9021138">
                                            <div class="song-info"><span class="song-time"> 1 авг</span>
                                            </div>
                                            <div class="song-content">
                                                <div class="song-artist"><a data-pjax="true" class="mb-tooltip" data-tool="tooltip-bottom" data-original-title="" href="https://zf.fm/artist/114812"><span>W.e.s.t.</span></a></div>
                                                <div class="song-name"><a data-pjax="true" class="mb-tooltip" data-tool="tooltip-bottom" data-original-title="" href="https://zf.fm/song/9021138"><span>Поиграй (Denis Tornado Remix)</span></a></div>
                                            </div>
                                            <ul class="song-menu">
                                                <li><span data-sid="9021138" data-url="/download/9021138" class="song-download btn4 download" data-tool="tooltip" data-original-title="Скачать"><span></span></span></li>
                                                <li><span data-time="231" data-sid="9021138" data-url="/download/9021138" data-title="W.e.s.t. — Поиграй (Denis Tornado Remix)" class="song-plus btn4 plus" data-tool="tooltip" data-original-title="Добавить в плейлист"><span></span></span></li>
                                            </ul>
                                            <span data-time="231" data-sid="9021138" data-url="/download/9021138" data-title="W.e.s.t. — Поиграй (Denis Tornado Remix)" class="song-play btn4 play"><span></span></span></div>
                                    </div></div> <div class="songs-list-item">
                                    <div class="song-wrap song-wrap-xl">
                                        <div class="song song-xl" data-prev="9021138" data-next="9021136" data-play="9021137">
                                            <div class="song-info"><span class="song-time"> 1 авг</span>
                                            </div>
                                            <div class="song-content">
                                                <div class="song-artist"><a data-pjax="true" class="mb-tooltip" data-tool="tooltip-bottom" data-original-title="" href="https://zf.fm/artist/1215485"><span>Еvгеника</span></a></div>
                                                <div class="song-name"><a data-pjax="true" class="mb-tooltip" data-tool="tooltip-bottom" data-original-title="" href="https://zf.fm/song/9021137"><span>Флёр-Де-Лис</span></a></div>
                                            </div>
                                            <ul class="song-menu">
                                                <li><span data-sid="9021137" data-url="/download/9021137" class="song-download btn4 download" data-tool="tooltip" data-original-title="Скачать"><span></span></span></li>
                                                <li><span data-time="166" data-sid="9021137" data-url="/download/9021137" data-title="Еvгеника — Флёр-Де-Лис" class="song-plus btn4 plus" data-tool="tooltip" data-original-title="Добавить в плейлист"><span></span></span></li>
                                            </ul>
                                            <span data-time="166" data-sid="9021137" data-url="/download/9021137" data-title="Еvгеника — Флёр-Де-Лис" class="song-play btn4 play"><span></span></span></div>
                                    </div></div> <div class="songs-list-item">
                                    <div class="song-wrap song-wrap-xl">
                                        <div class="song song-xl" data-prev="9021137" data-next="9021135" data-play="9021136">
                                            <div class="song-info"><span class="song-time"> 1 авг</span>
                                            </div>
                                            <div class="song-content">
                                                <div class="song-artist"><a data-pjax="true" class="mb-tooltip" data-tool="tooltip-bottom" data-original-title="" href="https://zf.fm/artist/1215487"><span>Walkie X Шумм</span></a></div>
                                                <div class="song-name"><a data-pjax="true" class="mb-tooltip" data-tool="tooltip-bottom" data-original-title="" href="https://zf.fm/song/9021136"><span>Жертва</span></a></div>
                                            </div>
                                            <ul class="song-menu">
                                                <li><span data-sid="9021136" data-url="/download/9021136" class="song-download btn4 download" data-tool="tooltip" data-original-title="Скачать"><span></span></span></li>
                                                <li><span data-time="261" data-sid="9021136" data-url="/download/9021136" data-title="Walkie X Шумм — Жертва" class="song-plus btn4 plus" data-tool="tooltip" data-original-title="Добавить в плейлист"><span></span></span></li>
                                            </ul>
                                            <span data-time="261" data-sid="9021136" data-url="/download/9021136" data-title="Walkie X Шумм — Жертва" class="song-play btn4 play"><span></span></span></div>
                                    </div></div> <div class="songs-list-item">
                                    <div class="song-wrap song-wrap-xl">
                                        <div class="song song-xl" data-prev="9021136" data-next="9021134" data-play="9021135">
                                            <div class="song-info"><span class="song-time"> 1 авг</span>
                                            </div>
                                            <div class="song-content">
                                                <div class="song-artist"><a data-pjax="true" class="mb-tooltip" data-tool="tooltip-bottom" data-original-title="" href="https://zf.fm/artist/114812"><span>W.e.s.t.</span></a></div>
                                                <div class="song-name"><a data-pjax="true" class="mb-tooltip" data-tool="tooltip-bottom" data-original-title="" href="https://zf.fm/song/9021135"><span>Когда Придут Дожди</span></a></div>
                                            </div>
                                            <ul class="song-menu">
                                                <li><span data-sid="9021135" data-url="/download/9021135" class="song-download btn4 download" data-tool="tooltip" data-original-title="Скачать"><span></span></span></li>
                                                <li><span data-time="229" data-sid="9021135" data-url="/download/9021135" data-title="W.e.s.t. — Когда Придут Дожди" class="song-plus btn4 plus" data-tool="tooltip" data-original-title="Добавить в плейлист"><span></span></span></li>
                                            </ul>
                                            <span data-time="229" data-sid="9021135" data-url="/download/9021135" data-title="W.e.s.t. — Когда Придут Дожди" class="song-play btn4 play"><span></span></span></div>
                                    </div></div> <div class="songs-list-item">
                                    <div class="song-wrap song-wrap-xl">
                                        <div class="song song-xl" data-prev="9021135" data-next="9021133" data-play="9021134">
                                            <div class="song-info"><span class="song-time"> 1 авг</span>
                                            </div>
                                            <div class="song-content">
                                                <div class="song-artist"><a data-pjax="true" class="mb-tooltip" data-tool="tooltip-bottom" data-original-title="" href="https://zf.fm/artist/1215485"><span>Еvгеника</span></a></div>
                                                <div class="song-name"><a data-pjax="true" class="mb-tooltip" data-tool="tooltip-bottom" data-original-title="" href="https://zf.fm/song/9021134"><span>Жених</span></a></div>
                                            </div>
                                            <ul class="song-menu">
                                                <li><span data-sid="9021134" data-url="/download/9021134" class="song-download btn4 download" data-tool="tooltip" data-original-title="Скачать"><span></span></span></li>
                                                <li><span data-time="129" data-sid="9021134" data-url="/download/9021134" data-title="Еvгеника — Жених" class="song-plus btn4 plus" data-tool="tooltip" data-original-title="Добавить в плейлист"><span></span></span></li>
                                            </ul>
                                            <span data-time="129" data-sid="9021134" data-url="/download/9021134" data-title="Еvгеника — Жених" class="song-play btn4 play"><span></span></span></div>
                                    </div></div> <div class="songs-list-item">
                                    <div class="song-wrap song-wrap-xl">
                                        <div class="song song-xl" data-prev="9021134" data-next="9021132" data-play="9021133">
                                            <div class="song-info"><span class="song-time"> 1 авг</span>
                                            </div>
                                            <div class="song-content">
                                                <div class="song-artist"><a data-pjax="true" class="mb-tooltip" data-tool="tooltip-bottom" data-original-title="" href="https://zf.fm/artist/44354"><span>Celldweller</span></a></div>
                                                <div class="song-name"><a data-pjax="true" class="mb-tooltip" data-tool="tooltip-bottom" data-original-title="" href="https://zf.fm/song/9021133"><span>Awakening With You</span></a></div>
                                            </div>
                                            <ul class="song-menu">
                                                <li><span data-sid="9021133" data-url="/download/9021133" class="song-download btn4 download" data-tool="tooltip" data-original-title="Скачать"><span></span></span></li>
                                                <li><span data-time="307" data-sid="9021133" data-url="/download/9021133" data-title="Celldweller — Awakening With You" class="song-plus btn4 plus" data-tool="tooltip" data-original-title="Добавить в плейлист"><span></span></span></li>
                                            </ul>
                                            <span data-time="307" data-sid="9021133" data-url="/download/9021133" data-title="Celldweller — Awakening With You" class="song-play btn4 play"><span></span></span></div>
                                    </div></div> <div class="songs-list-item">
                                    <div class="song-wrap song-wrap-xl">
                                        <div class="song song-xl" data-prev="9021133" data-next="9021131" data-play="9021132">
                                            <div class="song-info"><span class="song-time"> 1 авг</span>
                                            </div>
                                            <div class="song-content">
                                                <div class="song-artist"><a data-pjax="true" class="mb-tooltip" data-tool="tooltip-bottom" data-original-title="" href="https://zf.fm/artist/1215485"><span>Еvгеника</span></a></div>
                                                <div class="song-name"><a data-pjax="true" class="mb-tooltip" data-tool="tooltip-bottom" data-original-title="" href="https://zf.fm/song/9021132"><span>Среда</span></a></div>
                                            </div>
                                            <ul class="song-menu">
                                                <li><span data-sid="9021132" data-url="/download/9021132" class="song-download btn4 download" data-tool="tooltip" data-original-title="Скачать"><span></span></span></li>
                                                <li><span data-time="196" data-sid="9021132" data-url="/download/9021132" data-title="Еvгеника — Среда" class="song-plus btn4 plus" data-tool="tooltip" data-original-title="Добавить в плейлист"><span></span></span></li>
                                            </ul>
                                            <span data-time="196" data-sid="9021132" data-url="/download/9021132" data-title="Еvгеника — Среда" class="song-play btn4 play"><span></span></span></div>
                                    </div></div> <div class="songs-list-item">
                                    <div class="song-wrap song-wrap-xl">
                                        <div class="song song-xl" data-prev="9021132" data-next="9021130" data-play="9021131">
                                            <div class="song-info"><span class="song-time"> 1 авг</span>
                                            </div>
                                            <div class="song-content">
                                                <div class="song-artist"><a data-pjax="true" class="mb-tooltip" data-tool="tooltip-bottom" data-original-title="" href="https://zf.fm/artist/1215485"><span>Еvгеника</span></a></div>
                                                <div class="song-name"><a data-pjax="true" class="mb-tooltip" data-tool="tooltip-bottom" data-original-title="" href="https://zf.fm/song/9021131"><span>Мигалки (Remix)</span></a></div>
                                            </div>
                                            <ul class="song-menu">
                                                <li><span data-sid="9021131" data-url="/download/9021131" class="song-download btn4 download" data-tool="tooltip" data-original-title="Скачать"><span></span></span></li>
                                                <li><span data-time="248" data-sid="9021131" data-url="/download/9021131" data-title="Еvгеника — Мигалки (Remix)" class="song-plus btn4 plus" data-tool="tooltip" data-original-title="Добавить в плейлист"><span></span></span></li>
                                            </ul>
                                            <span data-time="248" data-sid="9021131" data-url="/download/9021131" data-title="Еvгеника — Мигалки (Remix)" class="song-play btn4 play"><span></span></span></div>
                                    </div></div> <div class="songs-list-item">
                                    <div class="song-wrap song-wrap-xl">
                                        <div class="song song-xl" data-prev="9021131" data-next="9021129" data-play="9021130">
                                            <div class="song-info"><span class="song-time"> 1 авг</span>
                                            </div>
                                            <div class="song-content">
                                                <div class="song-artist"><a data-pjax="true" class="mb-tooltip" data-tool="tooltip-bottom" data-original-title="" href="https://zf.fm/artist/3644"><span>Robbie Williams</span></a></div>
                                                <div class="song-name"><a data-pjax="true" class="mb-tooltip" data-tool="tooltip-bottom" data-original-title="" href="https://zf.fm/song/9021130"><span>Eyes On The Highway</span></a></div>
                                            </div>
                                            <ul class="song-menu">
                                                <li><span data-sid="9021130" data-url="/download/9021130" class="song-download btn4 download" data-tool="tooltip" data-original-title="Скачать"><span></span></span></li>
                                                <li><span data-time="259" data-sid="9021130" data-url="/download/9021130" data-title="Robbie Williams — Eyes On The Highway" class="song-plus btn4 plus" data-tool="tooltip" data-original-title="Добавить в плейлист"><span></span></span></li>
                                            </ul>
                                            <span data-time="259" data-sid="9021130" data-url="/download/9021130" data-title="Robbie Williams — Eyes On The Highway" class="song-play btn4 play"><span></span></span></div>
                                    </div></div> <div class="songs-list-item">
                                    <div class="song-wrap song-wrap-xl">
                                        <div class="song song-xl" data-prev="9021130" data-next="9021128" data-play="9021129">
                                            <div class="song-info"><span class="song-time"> 1 авг</span>
                                            </div>
                                            <div class="song-content">
                                                <div class="song-artist"><a data-pjax="true" class="mb-tooltip" data-tool="tooltip-bottom" data-original-title="" href="https://zf.fm/artist/681657"><span>Светлана Лобода Feat. Макс Барских</span></a></div>
                                                <div class="song-name"><a data-pjax="true" class="mb-tooltip" data-tool="tooltip-bottom" data-original-title="" href="https://zf.fm/song/9021129"><span>Твои Глаза Туманы</span></a></div>
                                            </div>
                                            <ul class="song-menu">
                                                <li><span data-sid="9021129" data-url="/download/9021129" class="song-download btn4 download" data-tool="tooltip" data-original-title="Скачать"><span></span></span></li>
                                                <li><span data-time="293" data-sid="9021129" data-url="/download/9021129" data-title="Светлана Лобода Feat. Макс Барских — Твои Глаза Туманы" class="song-plus btn4 plus" data-tool="tooltip" data-original-title="Добавить в плейлист"><span></span></span></li>
                                            </ul>
                                            <span data-time="293" data-sid="9021129" data-url="/download/9021129" data-title="Светлана Лобода Feat. Макс Барских — Твои Глаза Туманы" class="song-play btn4 play"><span></span></span></div>
                                    </div></div> <div class="songs-list-item">
                                    <div class="song-wrap song-wrap-xl">
                                        <div class="song song-xl" data-prev="9021129" data-next="9021127" data-play="9021128">
                                            <div class="song-info"><span class="song-time"> 1 авг</span>
                                            </div>
                                            <div class="song-content">
                                                <div class="song-artist"><a data-pjax="true" class="mb-tooltip" data-tool="tooltip-bottom" data-original-title="" href="https://zf.fm/artist/118439"><span>Мэйти</span></a></div>
                                                <div class="song-name"><a data-pjax="true" class="mb-tooltip" data-tool="tooltip-bottom" data-original-title="" href="https://zf.fm/song/9021128"><span>Остывший Чай</span></a></div>
                                            </div>
                                            <ul class="song-menu">
                                                <li><span data-sid="9021128" data-url="/download/9021128" class="song-download btn4 download" data-tool="tooltip" data-original-title="Скачать"><span></span></span></li>
                                                <li><span data-time="156" data-sid="9021128" data-url="/download/9021128" data-title="Мэйти — Остывший Чай" class="song-plus btn4 plus" data-tool="tooltip" data-original-title="Добавить в плейлист"><span></span></span></li>
                                            </ul>
                                            <span data-time="156" data-sid="9021128" data-url="/download/9021128" data-title="Мэйти — Остывший Чай" class="song-play btn4 play"><span></span></span></div>
                                    </div></div> <div class="songs-list-item">
                                    <div class="song-wrap song-wrap-xl">
                                        <div class="song song-xl" data-prev="9021128" data-next="9021126" data-play="9021127">
                                            <div class="song-info"><span class="song-time"> 1 авг</span>
                                            </div>
                                            <div class="song-content">
                                                <div class="song-artist"><a data-pjax="true" class="mb-tooltip" data-tool="tooltip-bottom" data-original-title="" href="https://zf.fm/artist/73549"><span>Сергей Славянский</span></a></div>
                                                <div class="song-name"><a data-pjax="true" class="mb-tooltip" data-tool="tooltip-bottom" data-original-title="" href="https://zf.fm/song/9021127"><span>Люби</span></a></div>
                                            </div>
                                            <ul class="song-menu">
                                                <li><span data-sid="9021127" data-url="/download/9021127" class="song-download btn4 download" data-tool="tooltip" data-original-title="Скачать"><span></span></span></li>
                                                <li><span data-time="197" data-sid="9021127" data-url="/download/9021127" data-title="Сергей Славянский — Люби" class="song-plus btn4 plus" data-tool="tooltip" data-original-title="Добавить в плейлист"><span></span></span></li>
                                            </ul>
                                            <span data-time="197" data-sid="9021127" data-url="/download/9021127" data-title="Сергей Славянский — Люби" class="song-play btn4 play"><span></span></span></div>
                                    </div></div> <div class="songs-list-item">
                                    <div class="song-wrap song-wrap-xl">
                                        <div class="song song-xl" data-prev="9021127" data-next="9021125" data-play="9021126">
                                            <div class="song-info"><span class="song-time"> 1 авг</span>
                                            </div>
                                            <div class="song-content">
                                                <div class="song-artist"><a data-pjax="true" class="mb-tooltip" data-tool="tooltip-bottom" data-original-title="" href="https://zf.fm/artist/44354"><span>Celldweller</span></a></div>
                                                <div class="song-name"><a data-pjax="true" class="mb-tooltip" data-tool="tooltip-bottom" data-original-title="" href="https://zf.fm/song/9021126"><span>Last Night On Earth</span></a></div>
                                            </div>
                                            <ul class="song-menu">
                                                <li><span data-sid="9021126" data-url="/download/9021126" class="song-download btn4 download" data-tool="tooltip" data-original-title="Скачать"><span></span></span></li>
                                                <li><span data-time="363" data-sid="9021126" data-url="/download/9021126" data-title="Celldweller — Last Night On Earth" class="song-plus btn4 plus" data-tool="tooltip" data-original-title="Добавить в плейлист"><span></span></span></li>
                                            </ul>
                                            <span data-time="363" data-sid="9021126" data-url="/download/9021126" data-title="Celldweller — Last Night On Earth" class="song-play btn4 play"><span></span></span></div>
                                    </div></div> <div class="songs-list-item">
                                    <div class="song-wrap song-wrap-xl">
                                        <div class="song song-xl" data-prev="9021126" data-next="9021124" data-play="9021125">
                                            <div class="song-info"><span class="song-time"> 1 авг</span>
                                            </div>
                                            <div class="song-content">
                                                <div class="song-artist"><a data-pjax="true" class="mb-tooltip" data-tool="tooltip-bottom" data-original-title="" href="https://zf.fm/artist/1215485"><span>Еvгеника</span></a></div>
                                                <div class="song-name"><a data-pjax="true" class="mb-tooltip" data-tool="tooltip-bottom" data-original-title="" href="https://zf.fm/song/9021125"><span>Бабы</span></a></div>
                                            </div>
                                            <ul class="song-menu">
                                                <li><span data-sid="9021125" data-url="/download/9021125" class="song-download btn4 download" data-tool="tooltip" data-original-title="Скачать"><span></span></span></li>
                                                <li><span data-time="228" data-sid="9021125" data-url="/download/9021125" data-title="Еvгеника — Бабы" class="song-plus btn4 plus" data-tool="tooltip" data-original-title="Добавить в плейлист"><span></span></span></li>
                                            </ul>
                                            <span data-time="228" data-sid="9021125" data-url="/download/9021125" data-title="Еvгеника — Бабы" class="song-play btn4 play"><span></span></span></div>
                                    </div></div> <div class="songs-list-item">
                                    <div class="song-wrap song-wrap-xl">
                                        <div class="song song-xl" data-prev="9021125" data-next="9021123" data-play="9021124">
                                            <div class="song-info"><span class="song-time"> 1 авг</span>
                                            </div>
                                            <div class="song-content">
                                                <div class="song-artist"><a data-pjax="true" class="mb-tooltip" data-tool="tooltip-bottom" data-original-title="" href="https://zf.fm/artist/114812"><span>W.e.s.t.</span></a></div>
                                                <div class="song-name"><a data-pjax="true" class="mb-tooltip" data-tool="tooltip-bottom" data-original-title="" href="https://zf.fm/song/9021124"><span>Растай</span></a></div>
                                            </div>
                                            <ul class="song-menu">
                                                <li><span data-sid="9021124" data-url="/download/9021124" class="song-download btn4 download" data-tool="tooltip" data-original-title="Скачать"><span></span></span></li>
                                                <li><span data-time="230" data-sid="9021124" data-url="/download/9021124" data-title="W.e.s.t. — Растай" class="song-plus btn4 plus" data-tool="tooltip" data-original-title="Добавить в плейлист"><span></span></span></li>
                                            </ul>
                                            <span data-time="230" data-sid="9021124" data-url="/download/9021124" data-title="W.e.s.t. — Растай" class="song-play btn4 play"><span></span></span></div>
                                    </div></div> <div class="songs-list-item">
                                    <div class="song-wrap song-wrap-xl">
                                        <div class="song song-xl" data-prev="9021124" data-next="9021122" data-play="9021123">
                                            <div class="song-info"><span class="song-time"> 1 авг</span>
                                            </div>
                                            <div class="song-content">
                                                <div class="song-artist"><a data-pjax="true" class="mb-tooltip" data-tool="tooltip-bottom" data-original-title="" href="https://zf.fm/artist/73549"><span>Сергей Славянский</span></a></div>
                                                <div class="song-name"><a data-pjax="true" class="mb-tooltip" data-tool="tooltip-bottom" data-original-title="" href="https://zf.fm/song/9021123"><span>Будет Нам Счастье</span></a></div>
                                            </div>
                                            <ul class="song-menu">
                                                <li><span data-sid="9021123" data-url="/download/9021123" class="song-download btn4 download" data-tool="tooltip" data-original-title="Скачать"><span></span></span></li>
                                                <li><span data-time="209" data-sid="9021123" data-url="/download/9021123" data-title="Сергей Славянский — Будет Нам Счастье" class="song-plus btn4 plus" data-tool="tooltip" data-original-title="Добавить в плейлист"><span></span></span></li>
                                            </ul>
                                            <span data-time="209" data-sid="9021123" data-url="/download/9021123" data-title="Сергей Славянский — Будет Нам Счастье" class="song-play btn4 play"><span></span></span></div>
                                    </div></div> <div class="songs-list-item">
                                    <div class="song-wrap song-wrap-xl">
                                        <div class="song song-xl" data-prev="9021123" data-next="9021121" data-play="9021122">
                                            <div class="song-info"><span class="song-time"> 1 авг</span>
                                            </div>
                                            <div class="song-content">
                                                <div class="song-artist"><a data-pjax="true" class="mb-tooltip" data-tool="tooltip-bottom" data-original-title="" href="https://zf.fm/artist/114812"><span>W.e.s.t.</span></a></div>
                                                <div class="song-name"><a data-pjax="true" class="mb-tooltip" data-tool="tooltip-bottom" data-original-title="" href="https://zf.fm/song/9021122"><span>Бей</span></a></div>
                                            </div>
                                            <ul class="song-menu">
                                                <li><span data-sid="9021122" data-url="/download/9021122" class="song-download btn4 download" data-tool="tooltip" data-original-title="Скачать"><span></span></span></li>
                                                <li><span data-time="214" data-sid="9021122" data-url="/download/9021122" data-title="W.e.s.t. — Бей" class="song-plus btn4 plus" data-tool="tooltip" data-original-title="Добавить в плейлист"><span></span></span></li>
                                            </ul>
                                            <span data-time="214" data-sid="9021122" data-url="/download/9021122" data-title="W.e.s.t. — Бей" class="song-play btn4 play"><span></span></span></div>
                                    </div></div> <div class="songs-list-item">
                                    <div class="song-wrap song-wrap-xl">
                                        <div class="song song-xl" data-prev="9021122" data-next="9021120" data-play="9021121">
                                            <div class="song-info"><span class="song-time"> 1 авг</span>
                                            </div>
                                            <div class="song-content">
                                                <div class="song-artist"><a data-pjax="true" class="mb-tooltip" data-tool="tooltip-bottom" data-original-title="" href="https://zf.fm/artist/114812"><span>W.e.s.t.</span></a></div>
                                                <div class="song-name"><a data-pjax="true" class="mb-tooltip" data-tool="tooltip-bottom" data-original-title="" href="https://zf.fm/song/9021121"><span>Beating Of My Heart</span></a></div>
                                            </div>
                                            <ul class="song-menu">
                                                <li><span data-sid="9021121" data-url="/download/9021121" class="song-download btn4 download" data-tool="tooltip" data-original-title="Скачать"><span></span></span></li>
                                                <li><span data-time="176" data-sid="9021121" data-url="/download/9021121" data-title="W.e.s.t. — Beating Of My Heart" class="song-plus btn4 plus" data-tool="tooltip" data-original-title="Добавить в плейлист"><span></span></span></li>
                                            </ul>
                                            <span data-time="176" data-sid="9021121" data-url="/download/9021121" data-title="W.e.s.t. — Beating Of My Heart" class="song-play btn4 play"><span></span></span></div>
                                    </div></div> <div class="songs-list-item">
                                    <div class="song-wrap song-wrap-xl">
                                        <div class="song song-xl" data-prev="9021121" data-next="9021119" data-play="9021120">
                                            <div class="song-info"><span class="song-time"> 1 авг</span>
                                            </div>
                                            <div class="song-content">
                                                <div class="song-artist"><a data-pjax="true" class="mb-tooltip" data-tool="tooltip-bottom" data-original-title="" href="https://zf.fm/artist/352550"><span>Veronika</span></a></div>
                                                <div class="song-name"><a data-pjax="true" class="mb-tooltip" data-tool="tooltip-bottom" data-original-title="" href="https://zf.fm/song/9021120"><span>Секс На Пляже (Radio Edit)</span></a></div>
                                            </div>
                                            <ul class="song-menu">
                                                <li><span data-sid="9021120" data-url="/download/9021120" class="song-download btn4 download" data-tool="tooltip" data-original-title="Скачать"><span></span></span></li>
                                                <li><span data-time="207" data-sid="9021120" data-url="/download/9021120" data-title="Veronika — Секс На Пляже (Radio Edit)" class="song-plus btn4 plus" data-tool="tooltip" data-original-title="Добавить в плейлист"><span></span></span></li>
                                            </ul>
                                            <span data-time="207" data-sid="9021120" data-url="/download/9021120" data-title="Veronika — Секс На Пляже (Radio Edit)" class="song-play btn4 play"><span></span></span></div>
                                    </div></div> <div class="songs-list-item">
                                    <div class="song-wrap song-wrap-xl">
                                        <div class="song song-xl" data-prev="9021120" data-next="9021118" data-play="9021119">
                                            <div class="song-info"><span class="song-time"> 1 авг</span>
                                            </div>
                                            <div class="song-content">
                                                <div class="song-artist"><a data-pjax="true" class="mb-tooltip" data-tool="tooltip-bottom" data-original-title="" href="https://zf.fm/artist/44354"><span>Celldweller</span></a></div>
                                                <div class="song-name"><a data-pjax="true" class="mb-tooltip" data-tool="tooltip-bottom" data-original-title="" href="https://zf.fm/song/9021119"><span>Own Little World (Offworld Reprise)</span></a></div>
                                            </div>
                                            <ul class="song-menu">
                                                <li><span data-sid="9021119" data-url="/download/9021119" class="song-download btn4 download" data-tool="tooltip" data-original-title="Скачать"><span></span></span></li>
                                                <li><span data-time="310" data-sid="9021119" data-url="/download/9021119" data-title="Celldweller — Own Little World (Offworld Reprise)" class="song-plus btn4 plus" data-tool="tooltip" data-original-title="Добавить в плейлист"><span></span></span></li>
                                            </ul>
                                            <span data-time="310" data-sid="9021119" data-url="/download/9021119" data-title="Celldweller — Own Little World (Offworld Reprise)" class="song-play btn4 play"><span></span></span></div>
                                    </div></div> <div class="songs-list-item">
                                    <div class="song-wrap song-wrap-xl">
                                        <div class="song song-xl" data-prev="9021119" data-next="9021117" data-play="9021118">
                                            <div class="song-info"><span class="song-time"> 1 авг</span>
                                            </div>
                                            <div class="song-content">
                                                <div class="song-artist"><a data-pjax="true" class="mb-tooltip" data-tool="tooltip-bottom" data-original-title="" href="https://zf.fm/artist/1215485"><span>Еvгеника</span></a></div>
                                                <div class="song-name"><a data-pjax="true" class="mb-tooltip" data-tool="tooltip-bottom" data-original-title="" href="https://zf.fm/song/9021118"><span>Оптимистка</span></a></div>
                                            </div>
                                            <ul class="song-menu">
                                                <li><span data-sid="9021118" data-url="/download/9021118" class="song-download btn4 download" data-tool="tooltip" data-original-title="Скачать"><span></span></span></li>
                                                <li><span data-time="224" data-sid="9021118" data-url="/download/9021118" data-title="Еvгеника — Оптимистка" class="song-plus btn4 plus" data-tool="tooltip" data-original-title="Добавить в плейлист"><span></span></span></li>
                                            </ul>
                                            <span data-time="224" data-sid="9021118" data-url="/download/9021118" data-title="Еvгеника — Оптимистка" class="song-play btn4 play"><span></span></span></div>
                                    </div></div> <div class="songs-list-item">
                                    <div class="song-wrap song-wrap-xl">
                                        <div class="song song-xl" data-prev="9021118" data-next="9021116" data-play="9021117">
                                            <div class="song-info"><span class="song-time"> 1 авг</span>
                                            </div>
                                            <div class="song-content">
                                                <div class="song-artist"><a data-pjax="true" class="mb-tooltip" data-tool="tooltip-bottom" data-original-title="" href="https://zf.fm/artist/118439"><span>Мэйти</span></a></div>
                                                <div class="song-name"><a data-pjax="true" class="mb-tooltip" data-tool="tooltip-bottom" data-original-title="" href="https://zf.fm/song/9021117"><span>День Из Детства</span></a></div>
                                            </div>
                                            <ul class="song-menu">
                                                <li><span data-sid="9021117" data-url="/download/9021117" class="song-download btn4 download" data-tool="tooltip" data-original-title="Скачать"><span></span></span></li>
                                                <li><span data-time="211" data-sid="9021117" data-url="/download/9021117" data-title="Мэйти — День Из Детства" class="song-plus btn4 plus" data-tool="tooltip" data-original-title="Добавить в плейлист"><span></span></span></li>
                                            </ul>
                                            <span data-time="211" data-sid="9021117" data-url="/download/9021117" data-title="Мэйти — День Из Детства" class="song-play btn4 play"><span></span></span></div>
                                    </div></div> <div class="songs-list-item">
                                    <div class="song-wrap song-wrap-xl">
                                        <div class="song song-xl" data-prev="9021117" data-next="9021115" data-play="9021116">
                                            <div class="song-info"><span class="song-time"> 1 авг</span>
                                            </div>
                                            <div class="song-content">
                                                <div class="song-artist"><a data-pjax="true" class="mb-tooltip" data-tool="tooltip-bottom" data-original-title="" href="https://zf.fm/artist/1215485"><span>Еvгеника</span></a></div>
                                                <div class="song-name"><a data-pjax="true" class="mb-tooltip" data-tool="tooltip-bottom" data-original-title="" href="https://zf.fm/song/9021116"><span>Анна</span></a></div>
                                            </div>
                                            <ul class="song-menu">
                                                <li><span data-sid="9021116" data-url="/download/9021116" class="song-download btn4 download" data-tool="tooltip" data-original-title="Скачать"><span></span></span></li>
                                                <li><span data-time="172" data-sid="9021116" data-url="/download/9021116" data-title="Еvгеника — Анна" class="song-plus btn4 plus" data-tool="tooltip" data-original-title="Добавить в плейлист"><span></span></span></li>
                                            </ul>
                                            <span data-time="172" data-sid="9021116" data-url="/download/9021116" data-title="Еvгеника — Анна" class="song-play btn4 play"><span></span></span></div>
                                    </div></div> <div class="songs-list-item">
                                    <div class="song-wrap song-wrap-xl">
                                        <div class="song song-xl" data-prev="9021116" data-next="9021114" data-play="9021115">
                                            <div class="song-info"><span class="song-time"> 1 авг</span>
                                            </div>
                                            <div class="song-content">
                                                <div class="song-artist"><a data-pjax="true" class="mb-tooltip" data-tool="tooltip-bottom" data-original-title="" href="https://zf.fm/artist/73549"><span>Сергей Славянский</span></a></div>
                                                <div class="song-name"><a data-pjax="true" class="mb-tooltip" data-tool="tooltip-bottom" data-original-title="" href="https://zf.fm/song/9021115"><span>А Ты Мне Нравишься</span></a></div>
                                            </div>
                                            <ul class="song-menu">
                                                <li><span data-sid="9021115" data-url="/download/9021115" class="song-download btn4 download" data-tool="tooltip" data-original-title="Скачать"><span></span></span></li>
                                                <li><span data-time="219" data-sid="9021115" data-url="/download/9021115" data-title="Сергей Славянский — А Ты Мне Нравишься" class="song-plus btn4 plus" data-tool="tooltip" data-original-title="Добавить в плейлист"><span></span></span></li>
                                            </ul>
                                            <span data-time="219" data-sid="9021115" data-url="/download/9021115" data-title="Сергей Славянский — А Ты Мне Нравишься" class="song-play btn4 play"><span></span></span></div>
                                    </div></div> <div class="songs-list-item">
                                    <div class="song-wrap song-wrap-xl">
                                        <div class="song song-xl" data-prev="9021115" data-next="9021113" data-play="9021114">
                                            <div class="song-info"><span class="song-time"> 1 авг</span>
                                            </div>
                                            <div class="song-content">
                                                <div class="song-artist"><a data-pjax="true" class="mb-tooltip" data-tool="tooltip-bottom" data-original-title="" href="https://zf.fm/artist/118439"><span>Мэйти</span></a></div>
                                                <div class="song-name"><a data-pjax="true" class="mb-tooltip" data-tool="tooltip-bottom" data-original-title="" href="https://zf.fm/song/9021114"><span>Дарья Васильевна</span></a></div>
                                            </div>
                                            <ul class="song-menu">
                                                <li><span data-sid="9021114" data-url="/download/9021114" class="song-download btn4 download" data-tool="tooltip" data-original-title="Скачать"><span></span></span></li>
                                                <li><span data-time="194" data-sid="9021114" data-url="/download/9021114" data-title="Мэйти — Дарья Васильевна" class="song-plus btn4 plus" data-tool="tooltip" data-original-title="Добавить в плейлист"><span></span></span></li>
                                            </ul>
                                            <span data-time="194" data-sid="9021114" data-url="/download/9021114" data-title="Мэйти — Дарья Васильевна" class="song-play btn4 play"><span></span></span></div>
                                    </div></div> <div class="songs-list-item">
                                    <div class="song-wrap song-wrap-xl">
                                        <div class="song song-xl" data-prev="9021114" data-next="9021112" data-play="9021113">
                                            <div class="song-info"><span class="song-time"> 1 авг</span>
                                            </div>
                                            <div class="song-content">
                                                <div class="song-artist"><a data-pjax="true" class="mb-tooltip" data-tool="tooltip-bottom" data-original-title="" href="https://zf.fm/artist/238267"><span>Zeni N</span></a></div>
                                                <div class="song-name"><a data-pjax="true" class="mb-tooltip" data-tool="tooltip-bottom" data-original-title="Leave It All Behind (Mad Morello &amp; Igi Remix) (Primemusic.cc)" href="https://zf.fm/song/9021113"><span>Leave It All Behind (Mad Morello &amp; Igi Remix) (Primemusic.cc)</span></a></div>
                                            </div>
                                            <ul class="song-menu">
                                                <li><span data-sid="9021113" data-url="/download/9021113" class="song-download btn4 download" data-tool="tooltip" data-original-title="Скачать"><span></span></span></li>
                                                <li><span data-time="360" data-sid="9021113" data-url="/download/9021113" data-title="Zeni N — Leave It All Behind (Mad Morello &amp; Igi Remix) (Primemusic.cc)" class="song-plus btn4 plus" data-tool="tooltip" data-original-title="Добавить в плейлист"><span></span></span></li>
                                            </ul>
                                            <span data-time="360" data-sid="9021113" data-url="/download/9021113" data-title="Zeni N — Leave It All Behind (Mad Morello &amp; Igi Remix) (Primemusic.cc)" class="song-play btn4 play"><span></span></span></div>
                                    </div></div> <div class="songs-list-item">
                                    <div class="song-wrap song-wrap-xl">
                                        <div class="song song-xl" data-prev="9021113" data-next="9021111" data-play="9021112">
                                            <div class="song-info"><span class="song-time"> 1 авг</span>
                                            </div>
                                            <div class="song-content">
                                                <div class="song-artist"><a data-pjax="true" class="mb-tooltip" data-tool="tooltip-bottom" data-original-title="" href="https://zf.fm/artist/73549"><span>Сергей Славянский</span></a></div>
                                                <div class="song-name"><a data-pjax="true" class="mb-tooltip" data-tool="tooltip-bottom" data-original-title="" href="https://zf.fm/song/9021112"><span>Родная Земля</span></a></div>
                                            </div>
                                            <ul class="song-menu">
                                                <li><span data-sid="9021112" data-url="/download/9021112" class="song-download btn4 download" data-tool="tooltip" data-original-title="Скачать"><span></span></span></li>
                                                <li><span data-time="211" data-sid="9021112" data-url="/download/9021112" data-title="Сергей Славянский — Родная Земля" class="song-plus btn4 plus" data-tool="tooltip" data-original-title="Добавить в плейлист"><span></span></span></li>
                                            </ul>
                                            <span data-time="211" data-sid="9021112" data-url="/download/9021112" data-title="Сергей Славянский — Родная Земля" class="song-play btn4 play"><span></span></span></div>
                                    </div></div> <div class="songs-list-item">
                                    <div class="song-wrap song-wrap-xl">
                                        <div class="song song-xl" data-prev="9021112" data-next="9021110" data-play="9021111">
                                            <div class="song-info"><span class="song-time"> 1 авг</span>
                                            </div>
                                            <div class="song-content">
                                                <div class="song-artist"><a data-pjax="true" class="mb-tooltip" data-tool="tooltip-bottom" data-original-title="" href="https://zf.fm/artist/44354"><span>Celldweller</span></a></div>
                                                <div class="song-name"><a data-pjax="true" class="mb-tooltip" data-tool="tooltip-bottom" data-original-title="" href="https://zf.fm/song/9021111"><span>Mother's Arms</span></a></div>
                                            </div>
                                            <ul class="song-menu">
                                                <li><span data-sid="9021111" data-url="/download/9021111" class="song-download btn4 download" data-tool="tooltip" data-original-title="Скачать"><span></span></span></li>
                                                <li><span data-time="72" data-sid="9021111" data-url="/download/9021111" data-title="Celldweller — Mother's Arms" class="song-plus btn4 plus" data-tool="tooltip" data-original-title="Добавить в плейлист"><span></span></span></li>
                                            </ul>
                                            <span data-time="72" data-sid="9021111" data-url="/download/9021111" data-title="Celldweller — Mother's Arms" class="song-play btn4 play"><span></span></span></div>
                                    </div></div> <div class="songs-list-item">
                                    <div class="song-wrap song-wrap-xl">
                                        <div class="song song-xl" data-prev="9021111" data-next="" data-play="9021110">
                                            <div class="song-info"><span class="song-time"> 1 авг</span>
                                            </div>
                                            <div class="song-content">
                                                <div class="song-artist"><a data-pjax="true" class="mb-tooltip" data-tool="tooltip-bottom" data-original-title="" href="https://zf.fm/artist/114812"><span>W.e.s.t.</span></a></div>
                                                <div class="song-name"><a data-pjax="true" class="mb-tooltip" data-tool="tooltip-bottom" data-original-title="" href="https://zf.fm/song/9021110"><span>Если Захочешь</span></a></div>
                                            </div>
                                            <ul class="song-menu">
                                                <li><span data-sid="9021110" data-url="/download/9021110" class="song-download btn4 download" data-tool="tooltip" data-original-title="Скачать"><span></span></span></li>
                                                <li><span data-time="204" data-sid="9021110" data-url="/download/9021110" data-title="W.e.s.t. — Если Захочешь" class="song-plus btn4 plus" data-tool="tooltip" data-original-title="Добавить в плейлист"><span></span></span></li>
                                            </ul>
                                            <span data-time="204" data-sid="9021110" data-url="/download/9021110" data-title="W.e.s.t. — Если Захочешь" class="song-play btn4 play"><span></span></span></div>
                                    </div></div></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="whb_crn_lb">
                <div class="whb_crn_rb">
                    <div class="whb_gr_b"></div>
                </div>
            </div>
        </div>
        <div class="paging">
            <a class="prev prev-btn disabled" data-pjax="true" href="https://zf.fm/new"><span><b>Назад</b></span></a>
            <a class="next next-btn" data-pjax="true" href="https://zf.fm/new?page=2"><span><b>Вперед</b></span></a>
            <div id="yw1" class="list"><b>1</b>
                <a class="" data-pjax="true" href="https://zf.fm/new?page=2">2</a>
                <a class="" data-pjax="true" href="https://zf.fm/new?page=3">3</a>
                <a class="" data-pjax="true" href="https://zf.fm/new?page=4">4</a>
                <a class="" data-pjax="true" href="https://zf.fm/new?page=5">5</a>
                <a class="" data-pjax="true" href="https://zf.fm/new?page=6">6</a>
                <a class="" data-pjax="true" href="https://zf.fm/new?page=7">7</a>
                <a class="" data-pjax="true" href="https://zf.fm/new?page=8">8</a>
                <a class="" data-pjax="true" href="https://zf.fm/new?page=9">9</a>
                <a class="" data-pjax="true" href="https://zf.fm/new?page=10">10</a>
            </div>
        </div>
    </section>
{% endblock %}
